:root {
  --bg-main: #f1f1f1;
  --bg-second: #fdfdfd;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: var(--bg-main);
}

#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}
