:root {
  --bg-color-primary: #f1f1f1;
  --bg-color-secondary: #fdfdfd;
  --btn-color-primary: gray;
  --btn-color-danger: red;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: var(--bg-color-primary);
}

#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}
