:root {
  --bg-color-primary: #f1f1f1;
  --bg-color-secondary: #fdfdfd;
  --btn-color-primary: gray;
  --btn-color-danger: red;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: var(--bg-color-primary);
}

nav {
  display: flex;
  justify-content: space-between;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}
.input {
  padding: 2rem;
  border-radius: 1rem;
}

.counters-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  border-radius: 2rem;
  padding: 2rem;
  background-color: var(--bg-color-secondary);
}

.counters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 4rem;
  gap: 4rem;
  background-color: var(--bg-color-primary);
  border-radius: 2rem;
}

.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: var(--bg-color-secondary);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  padding: 4rem;
  border-radius: 2rem;
}

.counter-value-controls {
  display: flex;
  gap: 4rem;
}

.counter-value {
  font-size: 5rem;
}

.create-counter {
  display: flex;
  flex-direction: column;
}

.create-form {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  gap: 4rem;
  border-radius: 2rem;
  background-color: var(--bg-color-primary);
}

.counterCard {
  background: var(--bg-color-secondary);
  padding: 24px 32px;
  border-radius: 16px;
  width: 240px;
  text-align: center;
}

.title {
  margin-bottom: 16px;
  font-size: 18px;
}

.value {
  font-size: 32px;
  font-weight: 600;
  min-width: 40px;
}

.btn {
  width: auto;
  height: auto;
  padding: 10px 20px;
  border-radius: 2rem;
  cursor: pointer;
  background: var(--btn-color-primary);
  color: white;
  transition: 0.2s;
}

.btn:hover {
  background: #4338ca;
}

.btn:active {
  transform: scale(0.92);
}

.btn-danger {
  padding: 10px 20px;
  border-radius: 2rem;
  cursor: pointer;
  background: var(--btn-color-danger);
  transition: 0.2s;
}

.btn-increase {
  padding: 10px 20px;
  border-radius: 2rem;
  cursor: pointer;
  background: var(--btn-color-primary);
  transition: 0.2s;
  color: white;
}

.btn-decrease {
  padding: 10px 20px;
  border-radius: 2rem;
  cursor: pointer;
  background: var(--btn-color-primary);
  transition: 0.2s;
  color: white;
}
