:root {
  --bg-color-primary: #f1f1f1;
  --bg-color-secondary: #fdfdfd;
  --btn-color-primary: gray;
  --btn-color-danger: red;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: var(--bg-color-primary);
}

#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}
.counters-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.create-counter {
  display: flex;
  flex-direction: column;
}
.form {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  gap: 4rem;
}
.counterCard {
  background: var(--bg-color-secondary);
  padding: 24px 32px;
  border-radius: 16px;
  width: 240px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.title {
  margin-bottom: 16px;
  font-size: 18px;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.value {
  font-size: 32px;
  font-weight: 600;
  min-width: 40px;
}

.btn {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  font-size: 22px;
  cursor: pointer;
  background: var(--btn-color-primary);
  color: white;
  transition: 0.2s;
}

.btn:hover {
  background: #4338ca;
}

.btn:active {
  transform: scale(0.92);
}
